<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border=1px id=table>
    <tr>
        <td width=50px>No.</td>
        <td width=50px>id</td>
        <td width=50px>이름</td>
        <td width=200px>제목</td>
        <td width=50px>DATE</td>
    </tr>

    <tr th:each="member : ${members.member}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.pw}"></td>
        <td th:text="${member.name}"></td>
    </tr>

</table>
<button onclick="more()">더보기</button>
<a href="NoticeBoard_insert.jsp">글쓰기</a>
<a href="main.jsp">메인으로</a>

</body>
</html>