<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Icon -->
    <script src="https://kit.fontawesome.com/396f2e87c6.js" crossorigin="anonymous"></script>
    <style>
        .image{border-radius: 50%;height: 60px;width: 60px !important;}
        .chart div{border-radius: 0 5px 5px 0;}
        .chart div:nth-child(1){background-color: blueviolet;}
        .chart div:nth-child(2){background-color: pink;}
        .chart div:nth-child(3){background-color: rgb(43, 205, 226);}
        .profileBtn{padding-top: 10px; padding-bottom: 10px; margin-top: 20px;}
    </style>
</head>
<input type="checkbox" id="menuBtn">
<div class="new-menu">
    <label for="menuBtn" class="labelBtn" onclick="">
        <img class="closed" src="img/temp/close.png" alt="">
    </label>
    <div id="new-menu-bar">
        <ul id="navigation">
            <li th:if='${id == null}'><a href="login">로그인</a></li>
            <li th:if='${id == null}'><a href="join">회원가입</a></li>
            <li th:if='${id != null}'><a href="member-list">회원보기</a></li>
            <li th:if='${id != null}'><a href="AI-manager-1">AI 매니저</a></li>
            <li th:if='${id != null}'><a href="messageHead">메시지</a></li>
            <li th:if='${id != null}'><a href="markList">찜목록</a></li>
            <li th:if='${id != null}'><a href="myProfile">내프로필</a></li>
            <li th:if='${id != null}'><a href="logout">로그아웃</a></li>
        </ul>
    </div>
</div>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area" style="width: 100%">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index"><img src="assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <label for="menuBtn" class="labelBtn" onclick="">
                        <img class="menu_btn" src="img/temp/menu.png" alt="">
                    </label>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </div>
</header>
    <main>

        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">

                <!-- Title -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-tittle mb-40 text-center">
                            <h2>ARY가 추천하는 나의 인연</h2>
                        </div>
                    </div>
                </div>

                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center" style="background-color: #fbf9ff; padding: 20px">
                                    <div class="popular-img" onclick="chart('user1',92,99,89,95,81)">
                                        <div class="blog-author margin-bottom-10">
                                            <div class="media align-items-center">
                                                <img class="image" src="/img/user/userid566/1.png">
<!--                                                <img class="image" src="/img/temp/user.png" onerror="this.src='/img/temp/user.png'">-->
                                                <div class="media-body margin-left-10">
                                                    <ul class="media-item">
                                                        <li>핼로우월드</li>
                                                    </ul>
                                                    <div class="blog-info-link">
                                                        <ul>
                                                            <li>초혼</li>
                                                            <li>여성</li>
                                                            <li>28세</li>
                                                            <li>서울</li>
                                                            <li>도도한</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <img src="img/temp/one.png" style="width: 50px;height: 50px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-box input-flex user1" style="display: none">
                                        <div class="graph-item">
                                            <div class="user1Pie"></div>
                                        </div>
                                        <div class="graph-item margin-left-10">
                                            <div>
                                                <div style="display: flex;">
                                                    <div style="min-width: 50px;">
                                                        <ul style="list-style-type: none; font-size: 15px">
                                                            <li style="margin-top: 5px;">성향</li>
                                                            <li style="margin-top: 4px;">취미</li>
                                                            <li style="margin-top: 2px;">자존감</li>
                                                            <li style="margin-top: 3px;">학력</li>
                                                        </ul>
                                                    </div>
                                                    <div class="user1Bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="userProfile?user=userid566" class="btn_3 profileBtn user1Profile" style="display: none">
                                        프로필 보기
                                    </a>
                                </div>
                            </div>
<!--                            --------------------------------------------------------------------------------------------->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center" style="background-color: #fbf9ff; padding: 20px">
                                    <div class="popular-img" onclick="chart('user2',85,85,92,82,79)">
                                        <div class="blog-author margin-bottom-10">
                                            <div class="media align-items-center">
                                                <img class="image" src="/img/user/userid571/1.png"/>
<!--                                                <img class="image" src="/img/temp/user.png" onerror="this.src='/img/temp/user.png'">-->
                                                <div class="media-body margin-left-10">
                                                    <ul class="media-item">
                                                        <li>머지성공</li>
                                                    </ul>
                                                    <div class="blog-info-link">
                                                        <ul>
                                                            <li>초혼</li>
                                                            <li>여성</li>
                                                            <li>28세</li>
                                                            <li>경남</li>
                                                            <li>유머,다정,낙천적</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <img src="img/temp/two.png" style="width: 50px;height: 50px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-box input-flex user2" style="display: none">
                                        <div class="graph-item">
                                            <div class="user2Pie"></div>
                                        </div>
                                        <div class="graph-item margin-left-10">
                                            <div>
                                                <div style="display: flex;">
                                                    <div style="min-width: 50px;">
                                                        <ul style="list-style-type: none; font-size: 15px">
                                                            <li style="margin-top: 5px;">성향</li>
                                                            <li style="margin-top: 4px;">취미</li>
                                                            <li style="margin-top: 2px;">자존감</li>
                                                            <li style="margin-top: 3px;">학력</li>
                                                        </ul>
                                                    </div>
                                                    <div class="user2Bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="userProfile?user=userid571" class="btn_3 profileBtn user2Profile" style="display: none">
                                        프로필 보기
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center" style="background-color: #fbf9ff; padding: 20px">
                                    <div class="popular-img" onclick="chart('user3',76,80,75,90,69)">
                                        <div class="blog-author margin-bottom-10">
                                            <div class="media align-items-center">
                                                <img class="image" src="/img/user/userid311/1.png"/>
<!--                                                <img class="image" src="/img/temp/user.png" onerror="this.src='/img/temp/user.png'">-->
                                                <div class="media-body margin-left-10">
                                                    <ul class="media-item">
                                                        <li>404에러</li>
                                                    </ul>
                                                    <div class="blog-info-link">
                                                        <ul>
                                                            <li>초혼</li>
                                                            <li>여성</li>
                                                            <li>31세</li>
                                                            <li>광주</li>
                                                            <li>털털한</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <img src="img/temp/three.png" style="width: 50px;height: 50px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-box input-flex user3" style="display: none">
                                        <div class="graph-item">
                                            <div class="user3Pie"></div>
                                        </div>
                                        <div class="graph-item margin-left-10">
                                            <div>
                                                <div style="display: flex;">
                                                    <div style="min-width: 50px;">
                                                        <ul style="list-style-type: none; font-size: 15px">
                                                            <li style="margin-top: 5px;">성향</li>
                                                            <li style="margin-top: 4px;">취미</li>
                                                            <li style="margin-top: 2px;">자존감</li>
                                                            <li style="margin-top: 3px;">학력</li>
                                                        </ul>
                                                    </div>
                                                    <div class="user3Bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="userProfile?user=userid311" class="btn_3 profileBtn user3Profile" style="display: none">
                                        프로필 보기
                                    </a>
                                </div>
                            </div>
<!--                            --------------------------------------------------------------------------------------------->
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Marry Me</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    function chart(user,pie,bar1,bar2,bar3,bar4){
        document.getElementsByClassName(user)[0].style.display = null;
        document.getElementsByClassName(user + "Profile")[0].style.display = null;
        document.getElementsByClassName(user+"Bar")[0].innerHTML = null;
        var data = [{x:bar1,y:bar1+"%",z:"#FFB7BB"},{x:bar2,y:bar2+"%",z:"#FAE4D9"},{x:bar3,y:bar3+"%",z:"#BBDED7"},{x:bar4,y:bar4+"%",z:"#8AC6D1"}];
        var bar = d3.select("."+user+"Bar").selectAll("div").data(data)
            .enter().append("div")
            .style("width", "0px")
            .style("margin","5px")
            .style("height","20px")
            .transition()
            .duration(1300)
            .style("width", function(d) { return d.x*2.4 + "px"; })
            .style("background-color", function(d) { return d.z; })
            .text(function(d) { return d.y; });

    //    ---------------------------------------------------------------------
        document.getElementsByClassName(user+"Pie")[0].innerHTML = null;
        var num = pie;
        var w = 95, h = 100;
        var graphData = [num, 100-num];
        var colorData = ["#FD2F56", "#ffc7c7"];
        var pie = d3.pie();
        var arc = d3.arc().innerRadius(30).outerRadius(45);

        var svg = d3.select("."+user+"Pie")
            .append("svg")
            .attr("width", w)
            .attr("height", h)
            .attr("id", "graphWrap");

        var g = svg.selectAll(".pie")
            .data(pie(graphData))
            .enter()
            .append("g")
            .attr("class", "pie")
            .attr("transform","translate("+w/2+","+h/2+")");

        g.append("path")
            .style("fill", function(d, i) {
                return colorData[i];
            })
            .transition()
            .duration(700)
            .delay(function(d, i) {
                return i * 500;
            })
            .attrTween("d", function(d, i) {
                var interpolate = d3.interpolate(
                    {startAngle : d.startAngle, endAngle : d.startAngle},
                    {startAngle : d.startAngle, endAngle : d.endAngle}
                );
                return function(t){
                    return arc(interpolate(t));
                }
            });

        svg.append("text")
            .attr("class", "total")
            .attr("transform", "translate("+(w/2-15)+", "+(h/2+5)+")")
            .text(num+"점");
    }
</script>
</body>

</html>