<!DOCTYPE html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id=talk>
    <table style="width: 100%">
        <tr th:each="message : ${messages}">
            <td align="right" th:if='${id == message.send}'>
                <div align="left" class="message2" th:text="${message.content}"></div>
                <div class="date user">
                    <span th:if="${message.checkMessage == 'new'}">✉️</span>
                    <span th:if="${message.checkMessage != 'new'}">💌</span>
                    <span th:text="${#strings.substring(message.mdate,5,16)}"></span>
                </div>
            </td>

            <td th:if='${id != message.send}'>
                <span><img class="image" th:src="@{|/img/user/${message.send}/1.png|}" onerror="this.src='/img/temp/user.png'"></span>
                <span class=send>
                                <span th:text="${message.send}"></span><br>
                            </span>
                <div>
                    <div class="message1" th:text="${message.content}"></div>
                </div>
                <div class="date friend" th:text="${#strings.substring(message.mdate,5,16)}"></div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>