<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<input type="checkbox" id="menuBtn">
<div class="new-menu">
    <label for="menuBtn" class="labelBtn" onclick="">
        <img class="closed" src="img/temp/close.png" alt="">
    </label>
    <div id="new-menu-bar">
        <ul id="navigation">
            <li th:if='${id == null}'><a href="login">로그인</a></li>
            <li th:if='${id == null}'><a href="join">회원가입</a></li>
            <li th:if='${id != null}'><a href="member-list">회원보기</a></li>
            <li th:if='${id != null}'><a href="AI-manager-1">AI 매니저</a></li>
            <li th:if='${id != null}'><a href="messageHead">메시지</a></li>
            <li th:if='${id != null}'><a href="markList">찜목록</a></li>
            <li th:if='${id != null}'><a href="myProfile">내프로필</a></li>
            <li th:if='${id != null}'><a href="logout">로그아웃</a></li>
        </ul>
    </div>
</div>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area" style="width: 100%">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index"><img src="assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <label for="menuBtn" class="labelBtn" onclick="">
                        <img class="menu_btn" src="img/temp/menu.png" alt="">
                    </label>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </div>
</header>
    <main>
        <!--================ Profile-02 Start =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="section-tittle mb-70 text-center">
                                    <h2>상세 프로필</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Question -->
                        <form action="updateProfile2" method="post">
                            <div class="blog_left_sidebar">

                                <!-- 스타일 * 사진수정-->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/style.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>1</h3>
                                            <p>스타일</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>당신의 매력 포인트는?(스타일)</h2>
                                        </a>
                                        <ul class="question">
                                            <!-- 01 -->
                                            <li class="checkbox-item">
                                                <input id="style1" name="style" type="checkbox" class="checkbox" value="평범함">
                                                <label for="style1" class="checkbox-lb">평범함</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="style2" name="style" type="checkbox" class="checkbox" value="귀여운">
                                                <label for="style2" class="checkbox-lb">귀여운</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="style3" name="style" type="checkbox" class="checkbox" value="섹시한">
                                                <label for="style3" class="checkbox-lb">섹시한</label>
                                            </li>
                                            <!-- 02 -->
                                            <li class="checkbox-item">
                                                <input id="style4" name="style" type="checkbox" class="checkbox" value="날씬한">
                                                <label for="style4" class="checkbox-lb">날씬한</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="style5" name="style" type="checkbox" class="checkbox" value="통통한">
                                                <label for="style5" class="checkbox-lb">통통한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="style6" name="style" type="checkbox" class="checkbox" value="깔끔한">
                                                <label for="style6" class="checkbox-lb">깔끔한</label>
                                            </li>
                                            <!-- 03 -->
                                            <li class="check-item">
                                                <input id="style7" name="style" type="checkbox" class="checkbox" value="털털한">
                                                <label for="style7" class="checkbox-lb">털털한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="style8" name="style" type="checkbox" class="checkbox" value="패셔너블">
                                                <label for="style8" class="checkbox-lb">패셔너블</label>
                                            </li>
                                            <!-- 04 -->
                                            <li class="check-item">
                                                <input id="style9" name="style" type="checkbox" class="checkbox" value="시크한">
                                                <label for="style9" class="checkbox-lb">시크한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="style10" name="style" type="checkbox" class="checkbox" value="순수한">
                                                <label for="style10" class="checkbox-lb">순수한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="style11" name="style" type="checkbox" class="checkbox" value="지적인">
                                                <label for="style11" class="checkbox-lb">지적인</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="style12" name="style" type="checkbox" class="checkbox" value="활동적인">
                                                <label for="style12" class="checkbox-lb">활동적인</label>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </article>

                                <!-- 성격 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/charm.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>2</h3>
                                            <p>성향</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>당신의 매력 포인트는?(성향)</h2>
                                        </a>
                                        <ul class="question">
                                            
                                            <li class="checkbox-item">
                                                <input id="chars1" name="chars" type="checkbox" class="checkbox" value="조용">
                                                <label class="checkbox-lb">조용함</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="chars2" name="chars" type="checkbox" class="checkbox" value="터프">
                                                <label for="chars2" class="checkbox-lb">터프함</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="chars3" name="chars" type="checkbox" class="checkbox" value="유머">
                                                <label for="chars3" class="checkbox-lb">유머</label>
                                            </li>

                                            <li class="checkbox-item">
                                                <input id="chars4" name="chars" type="checkbox" class="checkbox" value="다정다감">
                                                <label for="chars4" class="checkbox-lb">다정다감</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="chars5" name="chars" type="checkbox" class="checkbox" value="긍정">
                                                <label for="chars5" class="checkbox-lb">긍정적</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars6" name="chars" type="checkbox" class="checkbox" value="이해">
                                                <label for="chars6" class="checkbox-lb">이해심 깊은</label>
                                            </li>

                                            <li class="check-item">
                                                <input id="chars7" name="chars" type="checkbox" class="checkbox" value="내성적">
                                                <label for="chars7" class="checkbox-lb">내성적인</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars8" name="chars" type="checkbox" class="checkbox" value="자유분방">
                                                <label for="chars8" class="checkbox-lb">자유분방</label>
                                            </li>

                                            <li class="check-item">
                                                <input id="chars9" name="chars" type="checkbox" class="checkbox" value="감성">
                                                <label for="chars9" class="checkbox-lb">감성적인</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars10" name="chars" type="checkbox" class="checkbox" value="열정">
                                                <label for="chars10" class="checkbox-lb">열정적인</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars11" name="chars" type="checkbox" class="checkbox" value="유쾌">
                                                <label for="chars11" class="checkbox-lb">유쾌한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars13" name="chars" type="checkbox" class="checkbox" value="특이">
                                                <label for="chars13" class="checkbox-lb">특이</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars15" name="chars" type="checkbox" class="checkbox" value="솔직">
                                                <label for="chars15" class="checkbox-lb">솔직한</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="chars16" name="chars" type="checkbox" class="checkbox" value="신중">
                                                <label for="chars16" class="checkbox-lb">신중한</label>
                                            </li>
                                        </ul>
                                    </div>
                                </article>

                                <!-- 취미 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/hobby.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>3</h3>
                                            <p>취미</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>연인과 함께 하고 싶은 취미생활은?</h2>
                                        </a>
                                        <ul class="question">
                                            <!-- 01 -->
                                            <li class="checkbox-item">
                                                <input id="hobby0" name="hobby" type="checkbox" class="checkbox" value="음주">
                                                <label for="hobby0" class="checkbox-lb">음주</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="hobby1" name="hobby" type="checkbox" class="checkbox" value="미식">
                                                <label for="hobby1" class="checkbox-lb">맛집탐방</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="hobby2" name="hobby" type="checkbox" class="checkbox" value="요리">
                                                <label for="hobby2" class="checkbox-lb">요리</label>
                                            </li>
                                            <!-- 02 -->
                                            <li class="checkbox-item">
                                                <input id="hobby3" name="hobby" type="checkbox" class="checkbox" value="게임">
                                                <label for="hobby3" class="checkbox-lb">게임</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="hobby4" name="hobby" type="checkbox" class="checkbox" value="인터넷">
                                                <label for="hobby4" class="checkbox-lb">인터넷</label>
                                            </li>
                                            <!-- 03 -->
                                            <li class="check-item">
                                                <input id="hobby5" name="hobby" type="checkbox" class="checkbox" value="티비">
                                                <label for="hobby5" class="checkbox-lb">티비</label>
                                            </li>
                                            
                                            <li class="check-item">
                                                <input id="hobby6" name="hobby" type="checkbox" class="checkbox" value="영화">
                                                <label for="hobby6" class="checkbox-lb">영화</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby7" name="hobby" type="checkbox" class="checkbox" value="음악">
                                                <label for="hobby7" class="checkbox-lb">음악</label>
                                            </li>
                                            <!-- 04 -->
                                            <li class="check-item">
                                                <input id="hobby8" name="hobby" type="checkbox" class="checkbox" value="독서">
                                                <label for="hobby8" class="checkbox-lb">독서</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby9" name="hobby" type="checkbox" class="checkbox" value="공연">
                                                <label for="hobby9" class="checkbox-lb">공연</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby10" name="hobby" type="checkbox" class="checkbox" value="사진">
                                                <label for="hobby10" class="checkbox-lb">사진</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby11" name="hobby" type="checkbox" class="checkbox" value="악기">
                                                <label for="hobby11" class="checkbox-lb">악기</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby12" name="hobby" type="checkbox" class="checkbox" value="댄스">
                                                <label for="hobby12" class="checkbox-lb">댄스</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby13" name="hobby" type="checkbox" class="checkbox" value="쇼핑">
                                                <label for="hobby13" class="checkbox-lb">쇼핑</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby14" name="hobby" type="checkbox" class="checkbox" value="수다">
                                                <label for="hobby14" class="checkbox-lb">수다</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby15" name="hobby" type="checkbox" class="checkbox" value="운동">
                                                <label for="hobby15" class="checkbox-lb">운동</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby16" name="hobby" type="checkbox" class="checkbox" value="등산">
                                                <label for="hobby16" class="checkbox-lb">등산</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby17" name="hobby" type="checkbox" class="checkbox" value="여행">
                                                <label for="hobby17" class="checkbox-lb">여행</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby18" name="hobby" type="checkbox" class="checkbox" value="낚시">
                                                <label for="hobby18" class="checkbox-lb">낚시</label>
                                            </li>
                                            <li class="check-item">
                                                <input id="hobby19" name="hobby" type="checkbox" class="checkbox" value="드라이브">
                                                <label for="hobby19" class="checkbox-lb">드라이브</label>
                                            </li>
                                            <!-- 05 -->
                                            <li class="check-item">
                                                <input id="hobby20" name="hobby" type="checkbox" class="checkbox" value="애완동물">
                                                <label for="hobby20" class="checkbox-lb">애완동물</label>
                                            </li>
                                        </ul>
                                    </div>
                                </article>

                                <!-- 음주 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/drink.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>4</h3>
                                            <p>음주</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>음주를 즐기시나요?</h2>
                                        </a>
                                        <!-- 음주 횟수 -->
                                        <ul class="question">
                                            <li class="checkbox-item">
                                                <input id="drink1" name="drink" type="checkbox" class="checkbox" value="음주 안함">
                                                <label for="drink1" class="checkbox-lb">음주 안함</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="drink2" name="drink" type="checkbox" class="checkbox" value="월 1~2회">
                                                <label for="drink2" class="checkbox-lb">월 1~2회</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="drink3" name="drink" type="checkbox" class="checkbox" value="주 1~2회">
                                                <label for="drink3" class="checkbox-lb">주 1~2회</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="drink4" name="drink" type="checkbox" class="checkbox" value="주 3회 이상">
                                                <label for="drink4" class="checkbox-lb">주 3회 이상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </article>

                                <!-- 흡연 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/smoking.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>5</h3>
                                            <p>흡연</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>흡연은 얼마나 하시나요?</h2>
                                        </a>
                                        <ul class="question">
                                            
                                            <li class="checkbox-item">
                                                <input id="smoke1" name="smoke" type="checkbox" class="checkbox" value="경험 없음">
                                                <label for="smoke1" class="checkbox-lb">경험 없음</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="smoke2" name="smoke" type="checkbox" class="checkbox" value="금연">
                                                <label for="smoke2" class="checkbox-lb">금연</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="smoke3" name="smoke" type="checkbox" class="checkbox" value="흡연">
                                                <label for="smoke3" class="checkbox-lb">흡연</label>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </article>

                                <!-- 음식 (*너무 많아서 일단 안함...)-->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/food.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>6</h3>
                                            <p>음식</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>연인과 함께 먹고 싶은 음식은?</h2>
                                        </a>
                                        <ul class="question">
                                            <li class="checkbox-item">
                                                <input id="favorFood1" name="favorFood" type="checkbox" class="checkbox" value="양식">
                                                <label for="favorFood1" class="checkbox-lb">양식 : 파스타, 스테이크 </label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="favorFood2" name="favorFood" type="checkbox" class="checkbox" value="일식">
                                                <label for="favorFood2" class="checkbox-lb">일식 : 초밥, 라멘, 돈가스</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="favorFood3" name="favorFood" type="checkbox" class="checkbox" value="중식">
                                                <label for="favorFood3" class="checkbox-lb">중식 : 짜장면, 짬뽕, 딤섬</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="favorFood4" name="favorFood" type="checkbox" class="checkbox" value="베이커리">
                                                <label for="favorFood4" class="checkbox-lb">베이커리 : 빵, 도넛</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="favorFood5" name="favorFood" type="checkbox" class="checkbox" value="한식">
                                                <label for="favorFood5" class="checkbox-lb">한식 : 백반, 찌개, 삼겹살</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="favorFood6" name="favorFood" type="checkbox" class="checkbox" value="동남아">
                                                <label for="favorFood6" class="checkbox-lb">동남아 : 똠양꿍, 팟타이, 월남쌈</label>
                                            </li>

                                        </ul>

                                    </div>
                                </article>

                                <!-- 결혼관 -->
                                <!-- 배우자(자신) 점수 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/partner.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>7</h3>
                                            <p>매력도</p>
                                        </a>
                                    </div>

                                    <div class="blog_details input-flex q-7">
                                        <a class="d-inline-block ">
                                            <h2 class= "partner-score">배우자로서 나의 점수는?</h2>
                                        </a>
                                        <div class="col-md-6 form-group p_star ">
                                            <input name="myScore" type="text" class="form-control" id="nickname" placeholder=""/>
                                        </div>
                                    </div>
                                </article>

                                <!-- 결혼계획(기간) -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/ring.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>8</h3>
                                            <p>교제기간</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>결혼까지 필요한 교제 기간은?</h2>
                                        </a>
                                        <ul class="question">
                                            
                                            <li class="checkbox-item">
                                                <input id="plan1" name="plan" type="checkbox" class="checkbox" value="기간 상관없음">
                                                <label for="plan1" class="checkbox-lb">기간 상관없음</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="plan2" name="plan" type="checkbox" class="checkbox" value="최소 3개월">
                                                <label for="plan2" class="checkbox-lb">최소 3개월</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="plan3" name="plan" type="checkbox" class="checkbox" value="최소 6개월">
                                                <label for="plan3" class="checkbox-lb">최소 6개월</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="plan4" name="plan" type="checkbox" class="checkbox" value="최소 1년">
                                                <label for="plan4" class="checkbox-lb">최소 1년</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="plan5" name="plan" type="checkbox" class="checkbox" value="1년 이상">
                                                <label for="plan5" class="checkbox-lb">1년 이상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </article>

                                <!-- 자녀계획 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/children.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>9</h3>
                                            <p>자녀계획</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>결혼후 자녀계획은?</h2>
                                        </a>
                                        <ul class="question">
                                            
                                            <li class="checkbox-item">
                                                <input id="childBirth1" name="childBirth" type="checkbox" class="checkbox" value="배우자와 결정">
                                                <label for="childBirth1" class="checkbox-lb">배우자와 결정</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="childBirth2" name="childBirth" type="checkbox" class="checkbox" value="자녀계획 없음">
                                                <label for="childBirth2" class="checkbox-lb">자녀계획 없음</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="childBirth3" name="childBirth" type="checkbox" class="checkbox" value="한 명 이상">
                                                <label for="childBirth3" class="checkbox-lb">한 명 이상</label>
                                            </li>

                                        </ul>
                                    </div>
                                </article>
                                <!-- 희망종교 -->
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/profile/pray.jpg" alt="">
                                        <a class="blog_item_date">
                                            <h3>10</h3>
                                            <p>종교</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block">
                                            <h2>배우자에게 원하는 종교가 있나요?</h2>
                                        </a>
                                        <ul class="question">
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion1" name="partenaireReligion" type="checkbox" class="checkbox" value="상관없음">
                                                <label for="partenaireReligion1" class="checkbox-lb">상관없음</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion2" name="partenaireReligion" type="checkbox" class="checkbox" value="기독교">
                                                <label for="partenaireReligion2" class="checkbox-lb">기독교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion3" name="partenaireReligion" type="checkbox" class="checkbox" value="천주교">
                                                <label for="partenaireReligion3" class="checkbox-lb">천주교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion4" name="partenaireReligion" type="checkbox" class="checkbox" value="불교">
                                                <label for="partenaireReligion4" class="checkbox-lb">불교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion5" name="partenaireReligion" type="checkbox" class="checkbox" value="원불교">
                                                <label for="partenaireReligion5" class="checkbox-lb">원불교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion6" name="partenaireReligion" type="checkbox" class="checkbox" value="유교">
                                                <label for="partenaireReligion6" class="checkbox-lb">유교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion7" name="partenaireReligion" type="checkbox" class="checkbox" value="도교">
                                                <label for="partenaireReligion7" class="checkbox-lb">도교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion8" name="partenaireReligion" type="checkbox" class="checkbox" value="이슬람교">
                                                <label for="partenaireReligion8" class="checkbox-lb">이슬람교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion9" name="partenaireReligion" type="checkbox" class="checkbox" value="힌두교">
                                                <label for="partenaireReligion9" class="checkbox-lb">힌두교</label>
                                            </li>
                                            <li class="checkbox-item">
                                                <input id="partenaireReligion10" name="partenaireReligion" type="checkbox" class="checkbox" value="무교">
                                                <label for="partenaireReligion10" class="checkbox-lb">무교</label>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    상세 프로필 등록
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Marry Me</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                  
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $("input[name='style']").on("click" , function(){
                var sum =0;
                $("input[name='style']").each(function(i){
                    if($("input[name='style']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 3){}else{
                    $(this).attr("checked" , false);
                }
            });
        });

        $(document).ready(function(){
            $("input[name='chars']").on("click" , function(){
                var sum =0;
                $("input[name='chars']").each(function(i){
                    if($("input[name='chars']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 3){}else{
                    $(this).attr("checked" , false);
                }
            });
        });

        $(document).ready(function(){
            $("input[name='hobby']").on("click" , function(){
                var sum =0;
                $("input[name='hobby']").each(function(i){
                    if($("input[name='hobby']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 3){}else{
                    $(this).attr("checked" , false);
                }
            });
        });

        $(document).ready(function(){
            $("input[name='drink']").on("click" , function(){
                var sum =0;
                $("input[name='drink']").each(function(i){
                    if($("input[name='drink']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 1){}else{
                    $(this).attr("checked" , false);
                }
            });
        });

        $(document).ready(function(){
            $("input[name='smoke']").on("click" , function(){
                var sum =0;
                $("input[name='smoke']").each(function(i){
                    if($("input[name='smoke']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 1){}else{
                    $(this).attr("checked" , false);
                }
            });
        });

        $(document).ready(function(){
            $("input[name='favorFood']").on("click" , function(){
                var sum =0;
                $("input[name='favorFood']").each(function(i){
                    if($("input[name='favorFood']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 3){}else{
                    $(this).attr("checked" , false);
                }
            });
        });
        $(document).ready(function(){
            $("input[name='plan']").on("click" , function(){
                var sum =0;
                $("input[name='plan']").each(function(i){
                    if($("input[name='plan']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 1){}else{
                    $(this).attr("checked" , false);
                }
            });
        });
        $(document).ready(function(){
            $("input[name='childBirth']").on("click" , function(){
                var sum =0;
                $("input[name='childBirth']").each(function(i){
                    if($("input[name='childBirth']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 1){}else{
                    $(this).attr("checked" , false);
                }
            });
        });
        $(document).ready(function(){
            $("input[name='partenaireReligion']").on("click" , function(){
                var sum =0;
                $("input[name='partenaireReligion']").each(function(i){
                    if($("input[name='partenaireReligion']").eq(i).is(":checked")){
                        sum++;
                    }else{}
                });
                if(sum <= 3){}else{
                    $(this).attr("checked" , false);
                }
            });
        });
    </script>
</body>
</html>